<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Tootsee Roll</string>
	<string>Let&apos;s Get Ready to Rumble</string>
	<string>Whoomp There it Is</string>
	<string>Strike it Up</string>
</array>
</plist>
